/*Resets and declarations*/
:root {
  --color-dark: #184667;
  --color-light: #1b998b;
  --color-neutral: #e3dbdb;
  --color-neutral-dark: #352267;
  --color-black: #3e463e;
  --color-white: white;

  color: var(--color-white);
  line-height: 1.0;
}

select {
  cursor: pointer;
}

::-moz-selection {
  color: white;
  background: #0069ff;
}

::selection {
  color: white;
  background: #0069ff;
}

html {
  margin: 0;
  overflow: hidden;
  height: 100%;
  font-family: 'mono';
  background-color: var(--color-dark)
}

h1 {
  margin: 0.3em 0 0.67em 0;
  padding: 0;
}

.btn-primary {
  background: var(--color-light) !important;
  border-color: transparent !important;
  color: white !important;
  transition: all 0.3s;
}

.btn-primary:active {
  border-color: transparent;
  background: #18897d;
  outline: none;
}

.btn-primary:focus {
  border-color: transparent;
}

.btn-outline-primary {
  border-color: var(--color-light) !important;
  color: var(--color-primary) !important;
  transition: all 0.3s;
}

.no-hover{
  box-shadow: none;
}

.no-hover:hover {
  transform: none;
  box-shadow: none;
}

.border-primary {
  border-color: var(--color-black);
}

.content {
  background: var(--color-neutral);
  color: var(--color-black);
}

/* Home */
.title-box {
  padding: 2rem;
}

.nick-input {
  width: 100%;
}

canvas#nick-sine {
  margin: auto;
  background-color: #eee;
}
/* End Home */

.board {
  background-color: #fade91;
  margin: auto;
  margin-top: 5px;
  padding: 10px;
  max-width: 1100px;
}

.avatar {
  max-width: 50%;
  border-radius: 50%;
  border: none;
}

.player-list {
  overflow-y: auto;
  height: 575px;
}

@media only screen and (max-width: 768px)
{
  .xs-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}


/* Chat */
.chat {
  padding-left: 5px;
  padding-right: 5px;
}

.chat-history {
  background: #eef;
  overflow-y: auto;
  height: 575px;
  display: flex;
  flex-direction: column-reverse;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
@keyframes bounce {
  0%   { transform: rotate(90deg) translateX(0); }
  50%  { transform: rotate(90deg) translateX(-80px); }
  100% { transform: rotate(90deg) translateX(0); }
}

.loading {
  font-size: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120px;
  height: 120px;
  margin: -60px 0 0 -60px;
  -webkit-animation: bounce 0.8s linear infinite;
  -moz-animation: bounce 0.8s linear infinite;
  animation: bounce 0.8s linear infinite;
  transform: rotate(90deg);
}

@media only screen and (max-width: 768px)
{
  .chat-history {
    height: 200px;
  }
}

.chat-history ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0px;
}

.chat-history li {
  padding: 3px 8px 8px 8px;
}

.chat-history li:nth-child(even) {
  background: #bcd0ff;
}

.chat-history li:nth-child(odd) {
  background: #dce7ff;
}

.chat-history img {
  opacity: 0.8;
  width: 20%;
}

.chat-box {
  margin-top: 10px;
  margin-bottom: 0;
}

.chat-input {
  border-color: #bb800c;
}
/* End Chat */

/* Canvas */
canvas#drawing-board {
  cursor: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAMAAAAolt3jAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAwFBMVEUAAAD///+hoqOorKzj4+Pl5ubk5OTn5+iqq6uurrL////g4ODGx8itrrDu7u60tbZ3enx4eny0trbu7+/z8/Okpaejpaby8vP///+1trfg4OF3enx4e33g4uLFxsjGyMmtr7Ctr7Cur7HHyMnh4eJ4e33g4eG1trikpqekpafz8/Lv7++0trd4en20trfv7/Df4ODGx8jf3+BVWFtLT1FVWVtTVlk6PkE7P0JTV1k8QENLTlFLT1JVWVxTV1oAAABkRxW0AAAAM3RSTlMAAAAAAAAAAAAAEViVuS+r7/CsLi7Kyi4Qq1jw8FiVlbi5uJRY71eqyskuLqvvqi1XlFfwBlS2AAAAAWJLR0QAiAUdSAAAAAlwSFlzAAAN1wAADdcBQiibeAAAAAd0SU1FB+MEBAcVE5CiQ1QAAACRSURBVAjXTc5nD4IwFIXhU7dQxIFaFAX3nrS0dfD/f5YNSvB+e5KbnBcAsWzqONS2CAxKLbcdcy463V6ZoOL1EymVklIPhlUwV8tHdjLxGUbjn4yDCaZxQRHCeaqc6hVhxv84BxXF83uBZVBwtQbz03xIbxhq3lZ/M9Ldvg7SOBxPwkQG50szq2ZXGkW3OzP4AEA8H1WamC2AAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE5LTA0LTA0VDExOjIxOjE5LTA0OjAwHnWHYQAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxOS0wNC0wNFQxMToyMToxOS0wNDowMG8oP90AAAAZdEVYdFNvZnR3YXJlAHd3dy5pbmtzY2FwZS5vcmeb7jwaAAAAAElFTkSuQmCC') 7 7,crosshair;
  background-color: #ffffff;
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
}

.canvas-texture {
  background-image: url("/assets/img/natural-paper.png");
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  opacity: 0.6;
  z-index: 200;
}

#scratcher{
	position: absolute;
	top:0;
  left:0;
	width: 100%; height: 100%;
	background: url("/assets/img/scratch.png");
	background-size: 200% 2000%;
  background-position-x: 0%;
  background-position-y: 0%;
  pointer-events: none;
	z-index: 100;
}

.drawing-canvas {
  position: relative;
  height: 100%;
  text-align: center;
  overflow: hidden;
}

.colour-pencils {
  position: absolute;
  bottom: -130px;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  user-select: none;
  z-index: 300;
}

.colour-pencil {
  border: none;
  border-radius: 0;
  display: inline-block;
  cursor: pointer;
}

.colour-pencil:hover {
  transform: translateY(-20px);
}
/* End Canvas */
