/*Resets and declarations*/
:root {
  --color-dark: #184667;
  --color-light: #1b998b;
  --color-neutral: #e3dbdb;
  --color-neutral-dark: #352267;
  --color-black: #3e463e;
  --color-white: white;

  color: var(--color-white);
  line-height: 1.0;
}

select {
  cursor: pointer;
}

::-moz-selection {
  color: white;
  background: #0069ff;
}

::selection {
  color: white;
  background: #0069ff;
}

html {
  margin: 0;
  overflow: hidden;
  height: 100%;
  font-family: 'mono';
  background-color: var(--color-dark)
}

h1 {
  margin: 0.3em 0 0.67em 0;
  padding: 0;
}

.btn-primary {
  background: var(--color-light) !important;
  border-color: transparent !important;
  color: white !important;
  transition: all 0.3s;
}

.btn-primary:active {
  border-color: transparent;
  background: #18897d;
  outline: none;
}

.btn-primary:focus {
  border-color: transparent;
}

.btn-outline-primary {
  border-color: var(--color-light) !important;
  color: var(--color-primary) !important;
  transition: all 0.3s;
}

.no-hover{
  box-shadow: none;
}

.no-hover:hover {
  transform: none;
  box-shadow: none;
}

.border-primary {
  border-color: var(--color-black);
}

.content {
  background: var(--color-neutral);
  color: var(--color-black);
}

/* Home */
.title-box {
  padding: 2rem;
}

.nick-input {
  width: 100%;
}

canvas#nick-sine {
  margin: auto;
  background-color: #eee;
}
/* End Home */

.board {
  background-color: #fade91;
  margin: auto;
  margin-top: 5px;
  padding: 10px;
  max-width: 1100px;
}

canvas#drawing-board {
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: white;
}



.avatar {
  max-width: 50%;
  border-radius: 50%;
  border: none;
}

.player-list {
  overflow-y: auto;
  height: 575px;
}

@media only screen and (max-width: 768px)
{
  .xs-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}


/* Chat */
.chat {
  padding-left: 5px;
  padding-right: 5px;
}

.chat-history {
  background: #eef;
  overflow-y: auto;
  height: 575px;
  display: flex;
  flex-direction: column-reverse;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.loading {
  font-size: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120px;
  height: 120px;
  margin: -60px 0 0 -60px;
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@media only screen and (max-width: 768px)
{
  .chat-history {
    height: 200px;
  }
}

.chat-history ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0px;
}

.chat-history li {
  padding: 3px 8px 8px 8px;
}

.chat-history li:nth-child(even) {
  background: #bcd0ff;
}

.chat-history li:nth-child(odd) {
  background: #dce7ff;
}

.chat-history img {
  opacity: 0.8;
  width: 20%;
}

.chat-box {
  margin-top: 10px;
  margin-bottom: 0;
}

.chat-input {
  border-color: #bb800c;
}
/* End Chat */
